<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>まなべ～る</title>
    <link href="../../assets/stylesheets/style.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <h1>まなべ～る</h1>
    <p>まなべ～るトップページ</p>

    <div id="footer">
      <small>Copyright (C) 2017 Your Neighbor All Rights Reserved.</small>
    </div>

  </body>
</html>
