<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>まなべ～る</title>
    <link href="../../assets/stylesheets/header.scss" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="nav">
      <ul class="nl clearfix">
        <li><a href="../asoberu/asotop.html.erb">あそべ～る</a></li>
        <li><a href="../siraberu/siratop.html.erb">しらべ～る</a></li>
        <li><a href="../manaberu/manatop.html.erb">まなべ～る</a></li>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="setting.html">設定</a></li>
      </ul>
    </div>
    <br>
    <h1>まなべ～る</h1>
    <p>まなべ～るトップページ</p>

    <div id="footer">
      <small>Copyright (C) 2017 Your Neighbor All Rights Reserved.</small>
    </div>

  </body>
</html>
