<!DOCTYPE HTML>
<html lang="ja">
<table class="attr">
  <tr>
    <th>
      <%= form.label :name, "位置名" %>
    </th>
    <td>
      <%= form.map_name :name, size: 10 %>
    </td>
  </tr>
</table>
</html>
