<!DOCTYPE HTML>
<html lang="ja">	<head>
		<title>Your Neighbor</title>
	</head>

	<frameset rows="50,*" frameborder="0">

		<frame src="../comonn/header.html.erb" name="menu" title="ヘッダー" scrolling="no">
		<frame src="asomap.html.erb" name="main" title="中フレーム">

		<noframes>
			<body>
				<p>あそべ～るトップページ</p>
			</body>
		</noframes>

	</frameset>

</html>
