<!DOCTYPE HTML>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>あそべ～る</title>
		<link href="..\assets\stylesheets\header.scss" rel="stylesheet" type="text/css">
		<style>
			#map {
				width: 1000px;
				height: 500px;
			}
		</style>
	</head>
	<body>
		<div class="nav">
			<ul class="nl clearfix">
        <li><a href="../asoberu/asotop.html.erb">あそべ～る</a></li>
        <li><a href="../siraberu/siratop.html.erb">しらべ～る</a></li>
        <li><a href="../manaberu/manatop.html.erb">まなべ～る</a></li>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="setting.html">設定</a></li>
      </ul>
		</div>
		<br>
		<h1>あそべ～る</h1>

		<div id="inMap">ここにマップを表示</div>
		<script>
			var map;
			var marker;
			var infoWindow;
			var center = {
				lat: 43.0560242, // 緯度
				lng: 141.3795115, // 経度
			};
			function initMap() {
				map = new google.maps.Map(document.getElementById('inMap'), { // #inMapに地図を埋め込む
					center: center, // 地図の中心を指定
					zoom: 18 // 地図のズームを指定
				});

				marker = new google.maps.Marker({ // マーカーの追加
					position: center, // マーカーを立てる位置を指定
					map: map // マーカーを立てる地図を指定
				});

				infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
					content: '<div class="fukidashi">北海道情報専門学校<br>'+
					'<a href="reviewPost.html.erb">レビューを書き込む</a>'+
					' <a href="reviewDetail.html.erb">レビューを見る</a></div>' // 吹き出しに表示する内容
				});
				marker.addListener('click', function () { // マーカーをクリックしたとき
					infoWindow.open(map, marker); // 吹き出しの表示
				});
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJfuH3GcpFYapsQGKpWvoiZJ2oqF8ud44&callback=initMap"></script>

		<div id="footer">
			<small>Copyright (C) 2017 Your Neighbor All Rights Reserved.</small>
		</div>

	</body>
</html>
