<!DOCTYPE HTML>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>レビュー詳細</title>
		<link href="..\assets\stylesheets\header.scss" rel="stylesheet" type="text/css">
		<link href="header.scss" rel="stylesheet" type="text/css">
		<style>
			#map {
				width: 1000px;
				height: 500px;
			}
		</style>
	</head>
	<body>
		<div class="nav">
			<ul class="nl clearfix">
        <li><a href="../asoberu/asotop.html.erb">あそべ～る</a></li>
        <li><a href="../siraberu/siratop.html.erb">しらべ～る</a></li>
        <li><a href="../manaberu/manatop.html.erb">まなべ～る</a></li>
        <li><a href="mypage.html">マイページ</a></li>
        <li><a href="setting.html">設定</a></li>
      </ul>
		</div>
		<br>
		<h1>レビュー詳細</h1>
		<h2>XXXのレビュー</h2>
		<p>リストでなんか表示</p>
		<div id="footer">
			<small>Copyright (C) 2017 Your Neighbor All Rights Reserved.</small>
		</div>

	</body>
</html>
