<%= @page_title = "レビュー一覧" %>

<h1><%= @page_title %></h1>
<h2>XXXのレビュー</h2>

<% 5.times do |x| %>
  <h2>見出し</h2>
  <p>
    ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。
    <%= link_to "もっと読む", "reviewList.html.erb" %>
  </p>

<% end %>
<% end %>
