<%= @page_title = "レビュー詳細" %>

<h1><%= @page_title %></h1>
<h2>レビューのタイトル</h2>

  <p>
    レビューの評価<br />
    ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。 ここに本文が入ります。<br />
    <a href="javascript:if(confirm('本当に通報する？')){location='result.html'}">通報</a>
    <a href="reviewEdit.html.erb">編集</a>

  </p>


<% end %>
