
<body>
  <h1>コラム一覧</h1>
  <div class="cards">
    <% @column.each do |column| %>
    <div class="card">
      <div class="card-title">
        <a href="#" class="toggle-info btn">
          <span class="left"></span>
          <span class="right"></span>
        </a>

      </div>
      <div class="card-flap flap1">
        <div class="card-description">
        <h2>
          <%= column.title %>
        </h2>
          <%= column.text[0,100] %>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="#" class="btn">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</body>
