<body>
  <h2>
    <%= @column.title %>
  </h2>
  <div id="main_text">
    <TABLE border="9" width="600" bgcolor="#ffffff">
      <tbody>
        <tr>
          <td>
            <h2>
              <%= @column.title %>
            </h2>
          </td>
        </tr>
        <tr>
          <td><%= @column.text %></td>
        </tr>
      </tbody>
      <%= link_to "削除する", columns_path, method: :delete %>
  </div>
</body>
