<%- model_class = Answer -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>

<% @answer.each do |a| %>
  <%= a.id %>
<% end %>
</div>
<%= render :partial => 'form' %>
