<p>いつもお世話になっております、<%= @resource.email %>!</p>

<p>あなたのパスワードを変更するためのリンクを発行しました。変更は下のリンクから行うことができます。</p>

<p><%='パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません。</p>
