<%= @page_title = "レビュー内容確認" %>

<h1><%= @page_title %></h1>

<table>
  <tr>
    <th>タイトル</th>
    <td>%タイトル%</td>
  </tr>
  <tr>
    <th>評価</th>
    <td>%評価%</td>
  </tr>
  <tr>
    <th>内容</th>
    <td>%内容%</td>
  </tr>
</table>
<button type="button" onclick="history.back()">戻る</button>
<button type="submit" id="submit">投稿</button>

<% end %>
