  <ul class="nl clearfix">
    <li><a href="../asoberu/asotop.html.erb">あそべ～る</a></li>
    <li><a href="../siraberu/siratop.html.erb">しらべ～る</a></li>
    <li><a href="../manaberu/manatop.html.erb">まなべ～る</a></li>
    <li><a href="mypage.html">マイページ</a></li>
    <li><a href="setting.html">設定</a></li>
  </ul>
