<!DOCTYPE HTML>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Your Neighborフッター</title>
    <link href="../../assets/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    <div id="footer">
      <small>Copyright (C) 2017 Your Neighbor All Rights Reserved.</small>
    </div>
	</body>
</html>
