<!DOCTYPE HTML>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Your Neighborヘッダー</title>
    <link href="../../assets/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="nav">
      <ul class="nl clearFix">
        <li><a href="../asoberu/asomap.html.erb" target="main">あそべ～る</a></li>
        <li><a href="../siraberu/siratop.html.erb" target="main">しらべ～る</a></li>
        <li><a href="../manaberu/manatop.html.erb" target="main">まなべ～る</a></li>
        <li><a href="mypage.html" target="main">マイページ</a></li>
        <li><a href="setting.html" target="main">設定</a></li>
      </ul>
    </div>
	</body>
</html>
