<!DOCTYPE HTML>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>マイページ</title>
  <link href="./css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <div class="menu">
    <ul class="nl">
      <li><a href="asotop.html">あそべ～る</a></li>
      <li><a href="siratop.html">しらべ～る</a></li>
      <li><a href="manatop.html">まなべ～る</a></li>
      <li><a href="mypage.html">マイページ</a></li>
      <li><a href="setting.html">設定</a></li>
    </ul>
  </div>

  <h1>マイページ</h1>

    <div id="footer">
      Copyright (C) 2017 ママ友ネットワーク All Rights Reserved.
    </div>

</body>

</html>
